@use "lib/base";
@use "lib/footer";
@use "lib/nav";
@use "lib/background";

header {
	background: transparent;
}

body {
	text-rendering: optimizeLegibility;
	letter-spacing: 0.09px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	line-height: 1.6;
	color: #333;
}

footer {
	padding-top: 1rem !important;
}

main {
	margin-top: 4rem;
	align-items: center;

	h1 {
		text-wrap: balance;
		max-width: 40rem;
		line-height: 1;
		padding-bottom: 1.2rem;
	}

	img {
		cursor: pointer;
		max-width: 38rem;
		max-height: 21rem;
		border-radius: 0;
	}

	p {
		max-width: min(40rem, 88vw);
		text-indent: 3px;
		margin-inline: auto;
		text-align: left;
		margin: 14px 0 0;
		margin-left: 1rem;
	}
}

@media (max-width: 646px) {
	main p {
		margin-left: 0;
	}
}

main {
	margin-bottom: 9rem;
}

summary {
	text-align: center;
	margin-bottom: 2rem;
}

label {
	margin-bottom: 7px;
}

figure {
	max-width: 93vw;
	margin-bottom: 8px;
	width: 38rem;

	figcaption {
		font-size: 15px;
	}

	.container {
		position: relative;
		border-radius: 4px;
		overflow: hidden;
	}

	.expand {
		opacity: 0;
		width: 40px;
		height: 40px;
		margin: 13px;
		position: absolute;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.562);
		transition: all 600ms ease;
	}

	.expanding {
		animation: expand 200ms ease-in;
		animation-fill-mode: forwards;
	}

	.shrink {
		animation: shrink 400ms ease-in;
		animation-fill-mode: forwards;
	}

	&:hover .container:hover .share-btn,
	&:hover .container:hover .expand,
	.expand.expanding {
		opacity: 1;
		transition: all 500ms ease;
	}

	.share-btn {
		box-shadow: none;
		margin: 0;
		border: none;
		position: absolute;
		z-index: 6;
		cursor: pointer;
		transition: all 600ms ease;
		background: transparent;
		opacity: 0;
		padding: 19px;

		img {
			margin: 0;
			width: 26px;
			pointer-events: none;
		}
	}

	.share {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		gap: 1.4rem;

		a {
			opacity: 0;
			z-index: 2;
			padding: 0.2rem;
			cursor: pointer;
			border-radius: 50%;
			pointer-events: none;

			img {
				width: 40px;
			}
		}

		&.active a {
			animation: fadeIn 200ms linear;
			animation-delay: 100ms;
			animation-fill-mode: forwards;
			pointer-events: all;

			&:nth-child(2) {
				animation-delay: 120ms;
			}

			&:nth-child(3) {
				animation-delay: 145ms;
			}
		}

		&.hide a {
			animation: fadeOut 200ms linear;
			animation-delay: 145ms;
			animation-fill-mode: forwards;
			pointer-events: none;

			&:nth-child(2) {
				animation-delay: 120ms;
			}

			&:nth-child(3) {
				animation-delay: 100ms;
			}
		}
	}
}

.next {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	gap: 2rem;

	img {
		width: 16px;
		pointer-events: none;
	}

	a {
		color: inherit;
		gap: 0.6rem;
		display: flex;
		font-weight: 600;
	}
}

@keyframes expand {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(41);
	}
}

@keyframes shrink {
	0% {
		transform: scale(41);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}