@use "lib/splash";

.contact {
	gap: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-inline: 3.2rem;
	padding-bottom: 3rem;

	iframe {
		max-width: min(34rem, 88vw);
		border-radius: 6px;
		border: 2px solid #333;
		margin-top: 3px;
		background: #d6d6d6;
	}
}

h2 {
	margin-bottom: 1rem;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin-bottom: 6px;
	}
}

#email {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 6px;
	cursor: pointer;
	color: rgb(34, 164, 187);

	&:hover {
		text-decoration: underline;
	}
	span:first-child,
	span:nth-child(3)::before {
		direction: rtl;
		unicode-bidi: bidi-override;
	}
	span:first-child::before {
		content: '@';
	}
	span:first-child::after {
		content: 'ofni';
	}
	span:nth-child(2) {
		position: absolute;
		z-index: -4;
	}
	span:nth-child(2)::before {
		content: 'fail@scammer.com';
	}
	span:nth-child(2)::after {
		content: 'error';
	}
	span:nth-child(3)::before {
		content: 'edisnaeco';
	}
	span:nth-child(3)::after {
		content: 'chess.org';
	}
}

.flex {
	padding-block: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	svg {
	  display: block;
	  width: 3.2rem;
	  fill: #0d2a49;
	}
 }

@media (max-width: 976px) {
	iframe {
		order: 2;
		margin-top: -2.2rem !important;
	}
	h2 {
		margin-top: 2.2rem;
	}
}