@use "lib/splash";

.rules-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-inline: 2.4rem;
}

.rules {
	display: flex;
	width: fit-content;
	justify-content: center;
	gap: 5rem;
	flex-wrap: wrap;
	p, h1, h2, h3, h4, h5 {
		margin: 0 !important;
		text-align: left !important;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	}

	h1, h2, h3, h4, h5 {
	  padding-top: 4rem;
	  line-height: 1.3;
	  padding-bottom: 1rem;
	}
}